.video-container{
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
}
#video-elem{
    position: absolute;
    z-index: -1;
    width: 100%;
}
#content{
    position: absolute;
    z-index: -1;
    left: 22%;
}
#content img{
    display: block;
    margin: 0 auto;
}
#content p{
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
    color: white;
    padding-bottom: 30px;
}
#content button{
    display: block;
    margin: 0 auto;
    border-radius: 0%;
    border: 2px solid white;
    background-color: transparent;
    padding: 15px 20px;
    color: white;
    font-size: 17px;
}